{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>This is About page</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's
                passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.</p>
        </div>
    </div>
</div>
{{end}}